@keyframes pisca{
    0% {opacity: 0.2;}
    50% {opacity: 1;}
    100% {opacity: 0.2;}
}
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #bba37f;
}
.urna{
    padding: 30px;
    display: flex;
    background-color: #dadada;
}
.direita{
    margin-left: 30px;
}
.logo{
    padding: 15px;
    margin-bottom: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #d4d0d0;
    background-color: #e7e6e6;
    display: flex;
    justify-content: center;
    color: black;
    font-size: 18px;
    font-weight:bold ;
}
.tela{
    width: 500px;
    height: 320px;
    background: linear-gradient(to right, #b8b8bb,#a8a6a6, #b8b8bb);
    border: 2px solid rgb(138, 136, 136);
    display: flex;
    flex-direction: column;
}
.teclado{
    background-color: #3a3838;
    padding: 20px;
}
.teclado--linha{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.teclado--botao{
    width: 50px;
    height: 30px;
    background-color: rgb(39, 39, 39);
    color: white;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 0px black;
    font-size: 18px;
}
.botao--branco{
    background-color: #FFF;
    width: 65px;
    justify-content: center;
    align-items: flex-start;
    color: #000;
}
.botao--corrige{
    background-color: rgb(218, 88, 55);
    width: 65px;
    justify-content: center;
    align-items: flex-start;
    color: #000;
}
.botao--confirma{
    height: 40px;
    width: 80px;
    background-color: rgb(15, 161, 28);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: #000;
}

.d-1{
    display: flex;
    flex:1;
}
.d-1-left{
    flex:1;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}
.d-1-1{
    height: 50px;
    display: flex;
    align-items: center;
}
.d-1-2{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.d-1-3{
    display: flex;
    height: 50px;
}
.numero{
    display: inline-block;
    width: 30px;
    height: 40px;
    border: 2px solid #000;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
}
.pisca{
    animation-name: pisca;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.d-1-4{
    flex:1;
    line-height: 30px;
}
.d-1-right{
    width: 92px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.d-1-image{
    border: 1px solid #000;
    background-color: #fff;
    text-align: center;
    font-size: 14px;
}
.d-1-image.small{
    width: 70%;
    font-size: 12px;
}
.d-1-image img{
    width: 100% ;
}

.d-2{
    height: 30px;
    font-size: 10px;
    border-top: 1px solid #3a3838;
    padding: 10px;
}

.aviso--grande{
    font-weight: bold;
    font-size: 30px;
}

.aviso--gigante{
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}